<section class="tab flags-world-tab {{tab.cssClass}}" data-group="primary" data-tab="flagsWorld">
  <div class="tab-search">
    <i class="fas fa-search"></i>
    <input type="search" name="search" placeholder="{{localize "SNOOT.Search.Placeholder"}}" autocomplete="off"
      data-tooltip aria-label="{{localize "SNOOT.Tooltip.Search"}}">
  </div>

  {{#each worldFlagsGroups}}
    <fieldset class="namespace-group collapsed {{this.status}}" data-namespace="{{this.scope}}">
      <div class="namespace-header" data-action="toggleSection" data-tooltip
        aria-label="{{localize "SNOOT.Tooltip.Toggle"}}">
        <legend>
          <i class="fas fa-caret-down"></i>
          <span class="tag badge {{this.badgeClass}}">{{this.statusLabel}}</span>
          {{this.scope}}
          <span class="count">({{this.count}} docs)</span>
        </legend>
        {{#if this.canClean}}
          <button type="button" data-action="removeScopeFlags" data-scope="{{this.scope}}" data-tooltip
            aria-label="{{localize "SNOOT.Action.RemoveAll"}}">
            <i class="fas fa-trash"></i> {{localize "SNOOT.Action.RemoveAll"}}
          </button>
        {{/if}}
      </div>
      <div class="collapsible-content">
        <table class="flags-table">
          <thead>
            <tr>
              <th class="col-fit" data-tooltip aria-label="{{localize "SNOOT.Tooltip.Col.Document"}}">
                {{localize "SNOOT.Label.Document"}}
              </th>
              <th class="col-fit" data-tooltip aria-label="{{localize "SNOOT.Tooltip.Col.Type"}}">
                {{localize "SNOOT.Label.Type"}}
              </th>
              <th data-tooltip aria-label="{{localize "SNOOT.Tooltip.Col.FlagKeys"}}">
                {{localize "SNOOT.Label.FlagKeys"}}
              </th>
              <th class="col-btn" data-tooltip aria-label="{{localize "SNOOT.Tooltip.Col.Actions"}}"></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </fieldset>
  {{/each}}

  {{#unless hasWorldFlags}}
    <p class="empty-state">{{localize "SNOOT.Empty.WorldFlags"}}</p>
  {{/unless}}
</section>
